os:
  - linux
  - osx

language: cpp

compiler:
  - gcc
  - clang

before_script:
  - env | sort  
  - date -u
  - uname -a

  - chmod +x tools/travis.linux.install.deps.sh
  - chmod +x tools/travis.osx.install.deps.sh
  
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then ./tools/travis.linux.install.deps.sh; fi
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then ./tools/travis.osx.install.deps.sh; fi

script:
  - mkdir build
  - cd build
  - cmake .. -DCMAKE_INSTALL_PREFIX=`pwd`/dist
  - make install

after_script:
  - cd ..
  - chmod +x tools/travis.python.nosetests.sh
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then ./tools/travis.python.nosetests.sh; fi
