language: cpp

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

env:
  global:
     - AVTRANSCODER_BUILD=${TRAVIS_BUILD_DIR}/build-avtranscoder
     - AVTRANSCODER_INSTALL=${TRAVIS_BUILD_DIR}/install-avtranscoder
     - DEPENDENCY_INSTALL=${TRAVIS_BUILD_DIR}/install-dependency
     - CI_NODE_TOTAL=2
  matrix:
    - DEPENDENCY_MODE=libav ENABLE_COVERAGE=true
    - DEPENDENCY_MODE=libav ENABLE_COVERAGE=false
    - DEPENDENCY_MODE=ffmpeg ENABLE_COVERAGE=true
    - DEPENDENCY_MODE=ffmpeg ENABLE_COVERAGE=false

matrix:
  # generate coverage only with gcc
  exclude:
    - compiler: clang
      env: DEPENDENCY_MODE=ffmpeg ENABLE_COVERAGE=true
    - compiler: clang
      env: DEPENDENCY_MODE=libav ENABLE_COVERAGE=true
  fast_finish: true

# This results in a 2×2×2x2 build matrix.
# Where the variables are: os / compiler / DEPENDENCY_MODE / ENABLE_COVERAGE

before_script:
  - env | sort  
  - date -u
  - uname -a

  - cd ${TRAVIS_BUILD_DIR}

  # install coverage tools
  - if [ ${ENABLE_COVERAGE} ]; then ./tools/travis.gcc.install.coverage.sh; fi

  # install avtranscoder dependencies
  - if [ ${TRAVIS_OS_NAME} = "linux" ]; then ./tools/travis.linux.install.deps.sh; fi
  - if [ ${TRAVIS_OS_NAME} = "osx" ]; then ./tools/travis.osx.install.deps.sh; fi

script:
  # build
  - ./tools/travis.build.sh

  # launch tests
  - if [ ${DEPENDENCY_MODE} = "ffmpeg" ]; then ./tools/travis.python.nosetests.sh; fi

after_success:
  # generate coverage for coveralls
  - if [ ${ENABLE_COVERAGE} ]; then ./tools/travis.gcc.generate.coverage.sh; fi

before_deploy:
  # create archive
  - cd ${TRAVIS_BUILD_DIR}
  - tar -cvzf avtranscoder-${TRAVIS_OS_NAME}-${CC}-${DEPENDENCY_MODE}.tgz ${DEPENDENCY_INSTALL} ${AVTRANSCODER_INSTALL}

deploy:
  provider: releases
  api_key:
    secure: ${GITHUB_RELEASE_API_KEY}
  file: avtranscoder-${TRAVIS_OS_NAME}-${CC}-${DEPENDENCY_MODE}.tgz
  skip_cleanup: true
  on:
    branch: master
    condition: ${ENABLE_COVERAGE} = false
