Source: avtranscoder
Maintainer: Marc-Antoine ARNAUD <arnaud.marcantoine@gmail.com>
Section: video
Priority: extra
Build-Depends: debhelper (>= 8)
XS-Python-Version: >= 2.6
Standards-Version: 3.9.4

Package: avtranscoder
Architecture: all
Depends: ${misc:Depends}
Description: C++ API for LibAV / FFMpeg
 Based on Libav/FFmpeg libraries to support various video and audio formats, avTranscoder provides the high level API to re-wrap or transcode media easily.